* {
  background-color: rgb(219, 219, 219);
}

#navbar {
  background-color: rgb(88, 88, 131);
  margin-top: 20px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.navbar-title {
  background-color: rgb(88, 88, 131);
  color: white;
  padding: 20px;
  border-radius: 25px;
}

.title-pic {
  max-width: 90%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 25px;
}

#side-by-side {
  position: static;
  height: 300px;
}

#left-box {
  float: left;
  width: 33%;
  height: 150px;
  text-align: center;
}
#middle-box {
  float: left;
  width: 34%;
  height: 150px;
}
#right-box {
  float: right;
  width: 33%;
  height: 150px;
}

#past-guesses-table {
  position: absolute;
  right: 50px;
  max-width: 40%;
  height: 50px;
  border-collapse: separate;
  border-spacing: 0 0.5em;
  border: 3px dashed black;
  padding: 25px;
  border-radius: 15px;
}

.counter-table-header {
  height: 20px;
}

.past-guess-header {
  width: 100px;
  height: 20px;
  border-radius: 25px;
  color: black;
  font-size: 20px;
  vertical-align: top;
}

#past-guesses-counter {
  position: absolute;
  right: 5px;
  bottom: 80px;
  width: 400px;
  text-align: center;
}

#past-guesses-average {
  position: absolute;
  right: 5px;
  bottom: 50px;
  width: 400px;
  text-align: center;
}

.counter-table-row {
  background-color: red;
}

.counter-table-guess {
  text-align: center;
}

.counter-table-count {
  text-align: center;
}

#user-interaction-container {
  position: static;
  margin-top: 50px;
}

#guess-container {
  margin: auto;
  text-align: center;
}

.number-guess {
  width: 500px;
  height: 50px;
  border-radius: 25px;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

#buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#button-submit {
  background-color: rgb(53, 53, 53);
  color: white;
  font-size: 20px;
  height: 75px;
  width: 150px;
  margin-right: 25px;
  border-radius: 12.5px;
}

#button-submit:hover {
  opacity: 0.5;
}

#button-restart {
  background-color: gray;
  color: white;
  font-size: 30px;
  height: 75px;
  width: 150px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 12.5px;
}

#button-restart:hover {
  opacity: 0.5;
}

#button-strategy {
  background-color: gray;
  color: white;
  font-size: 15px;
  height: 75px;
  width: 150px;
  margin-left: 25px;
  border-radius: 12.5px;
}

#button-strategy:hover {
  opacity: 0.5;
}

#footer {
  background-color: rgb(88, 88, 131);
  border-radius: 25px;
  height: 100px;
  bottom: 50px;
}

.new-popup {
  color: pink;
  background-color: blue;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  opacity: 0.5;
  font-weight: bold;
  font-size: 30px;
}
