* {
  background-color: rgb(219, 219, 219);
}

#navbar {
  background-color: rgb(88, 88, 131);
  margin-top: 20px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.navbar-title {
  background-color: rgb(88, 88, 131);
  color: white;
  padding: 20px;
  border-radius: 25px;
}

.title-pic {
  max-width: 40%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 25px;
}

#left-box {
  float: left;
  background: Red;
  width: 33%;
  height: 150px;
}
#middle-box {
  float: left;
  background: Green;
  width: 34%;
  height: 150px;
}
#right-box {
  float: right;
  background: blue;
  width: 33%;
  height: 150px;
}

#past-guesses {
  border-radius: 50px;
  position: absolute;
  right: 50px;
  max-width: 40%;
}

.number-guess {
  width: 500px;
  height: 50px;
  border-radius: 25px;
  font-size: 40px;
}

#guess-container {
  display: flex;
  justify-content: center;
}

#buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#button-submit {
  background-color: rgb(53, 53, 53);
  color: white;
  font-size: 20px;
  height: 75px;
  width: 150px;
  margin-right: 25px;
  border-radius: 12.5px;
}

#button-submit:hover {
  opacity: 0.5;
}

#button-restart {
  background-color: gray;
  color: white;
  font-size: 30px;
  height: 75px;
  width: 150px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 12.5px;
}

#button-restart:hover {
  opacity: 0.5;
}

#button-strategy {
  background-color: gray;
  color: white;
  font-size: 15px;
  height: 75px;
  width: 150px;
  margin-left: 25px;
  border-radius: 12.5px;
}

#button-strategy:hover {
  opacity: 0.5;
}
.new-popup {
  color: pink;
  background-color: blue;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  opacity: 0.5;
  font-weight: bold;
  font-size: 30px;
}
